{{define "ingredient_list_item"}}
<li class="status {{.Status.Alias}}">
    <input
        type="checkbox"
        name="ingredient"
        value="{{.FoodId}}"
        oninput="disableSiblings(event)"
        {{if .Checked}}checked{{end}}
    >
    <div>
        <span>{{.Title}}</span>
        <label class="mass">
            Вес, г.
            <input
                type="number"
                inputmode="numeric"
                name="ingredient_{{.FoodId}}_mass"
                min="0"
                value="{{if eq "" .IngredientsMass}}{{.CanonicalMass}}{{else}}{{.IngredientsMass}}{{end}}"
                {{if not .Checked}}disabled="1"{{end}}
            >
        </label>
        <a href="/food/{{.FoodId}}" target="_blank">&#8599;</a>
        {{ if ne "" .Status.Message }}
        <span>{{.Status.Message}}</span>
        {{ end }}
        <input
            type="hidden"
            name="ingredient_{{.FoodId}}_id"
            value="{{.Id}}"
            {{if not .Checked}}disabled="1"{{end}}
        >
    </div>
</li>
{{end}}
