{{define "nutrient_list_item"}}
<li class="status {{.Status.Alias}}">
    <input
        type="checkbox"
        name="nutrient"
        value="{{.Id}}"
        oninput="disableSiblings(event)"
        {{if .Checked}}checked{{end}}
    >
    <div>
        <span>{{.Title}}</span>
        <input
            name="nutrient_{{.Id}}"
            type="number"
            inputmode="numeric"
            min="0"
            value="{{.Value}}"
            step="any"
            {{if not .Checked}}disabled="1"{{end}}
        >
        <pre>{{.Unit}}</pre>
        {{ if ne "" .Status.Message }}
        <span>{{.Status.Message}}</span>
        {{ end }}
    </div>
</li>
{{end}}
