{{block "food_post_form" .}}

{{template "search_form" .PostForm.Ingredients}}

{{template "search_form" .PostForm.Nutrients}}

<form 
    id="food-post-form"
    method="post"
    action="/food#food-post-form"
    target="htmz"
    class="status {{.PostForm.ResultStatus}}"
    onsubmit="loaderInstall()"
>
    <header>
        <h2 style="--idx: 0;"><a href="#basics">Инфа</a></h2>
        <h2 style="--idx: 1;"><a href="#recipe">Рецепт</a></h2>
        <h2 style="--idx: 2;"><a href="#ingredient-search">Ингредиенты</a></h2>
        <h2 style="--idx: 3;"><a href="#nutrient-search">Нутриенты</a></h2>
    </header>
    <fieldset id="basics">
        <legend>Инфа</legend>
        <label>
            Название
            <input name="food_title" type="text" maxlength="255" value="{{.PostForm.Food.Title}}" required>
        </label>
        <input type="hidden" name="food_id" value="{{.PostForm.Food.Id}}" >
    </fieldset>
    <fieldset id="recipe">
        <legend>Рецепт</legend>
        <label style="display: grid">
            Шаги
            <textarea name="recipe_step_description" maxlength="5120" rows="10">{{.PostForm.RecipeStep.Description}}</textarea>
        </label>
        <label>
            Сколько времени займёт
            <input
                name="recipe_step_time"
                type="text"
                pattern="(\d+(h|m)\s{0,}){1,}"
                placeholder="1h30m"
                value="{{.PostForm.RecipeStep.Time}}"
            >
        </label>
            <input
                type="hidden"
                name="recipe_step_id"
                value="{{.PostForm.RecipeStep.Id}}"
            >
    </fieldset>
    <fieldset id="ingredient-search">
        <legend>Ингредиенты</legend>
        <ul class="suggestion_list">
        {{range .PostForm.Ingredients.Values}}
            {{template "ingredient_list_item" .}}
        {{end}}
        </ul>
        <hr >
        {{template "search" .PostForm.Ingredients}}
    </fieldset>
    <fieldset id="nutrient-search">
        <legend>Нутриенты</legend>
        <ul class="suggestion_list">
            {{range .PostForm.Nutrients.Values}}
                {{template "nutrient_list_item" .}}
            {{end}}
        </ul>
        <hr >
        {{template "search" .PostForm.Nutrients}}
    </fieldset>
    <input type="hidden" name="csrf-token" value="{{.Session.CsrfToken}}" >
    <div class="controls">
        {{ if ne "" .PostForm.ResultMessage }}
            <output class="status {{.PostForm.ResultStatus}}">{{.PostForm.ResultMessage}}</output>
        {{end}}
        <button class="submit" type="submit" title="Сохранить">&#10003;</button>
    </div>
</form>
{{end}}
