{{define "exercise_log_post_form"}}
{{template "search_form_v2" .DummyExerciseList}}
<input type="hidden" name="as_radio" value="1" form="exercise-search-form" >
<input type="hidden" name="limit" value="5" form="exercise-search-form" >
<form 
    id="exercise_log-post-form"
    method="post"
    action="/exercise_log"
    target="htmz"
    onsubmit="searchOnSubmit(event)"
>
    <input type="hidden" name="id" value="{{.PostForm.Id}}" >
    <input type="hidden" name="csrf-token" value="{{.Session.CsrfToken}}" >
    <label>
        {{template "search" .DummyExerciseList}}
    </label>
    <hr>
    <label>
        Тип упражнения
        <select name="type_id">
            {{range .Types}}
            <option value="{{.Id}}">{{.Alias}}</option>
            {{end}}
        </select>
    </label>
    <hr>
    <label>
        Скока?
        <input
            name="value"
            type="number"
            inputmode="numeric"
            min="1"
            value=""
            required
        >
    </label>
    <hr>
    <span>Когда?</span>
    <div class="created_at">
        <input
            name="created_at_date"
            type="date"
            required
            autocomplete="off"
        >
        <input
            name="created_at_time"
            type="time"
            required
            autocomplete="off"
        >
        <button
            onclick="
            const now=new Date();
            this.form.created_at_date.value = `${now.getFullYear()}-${String(now.getMonth()).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;
            this.form.created_at_time.value = `${String(now.getHours()).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}:00`;
            "
            type="button"
        >NOW</button>
        <input hidden id="timezone" name="timezone" value="+05:00" />
    </div>
    <hr>
    <div class="controls" >
        {{template "exercise_log_post_result" .}}
        <button type="submit">Сохранить</button>
    </div>
</form>
{{end}}
