{{define "toggleable_attributes"}}
form="consumption_log_batch_modal"
{{end}}

{{define "search_form_attributes"}}
onchange="this.elements.do_query.disabled=false"
{{end}}

{{define "consumption_log_get_form"}}
{{template "search_form_v2" .}}
<h1 hidden></h1> {{/* TODO remove kostyl */}}
<div id="consumption_log-query-controls" class="query-controls">
    <label>
        Дата от
        <input
            form="consumption_log-search-form"
            type="datetime-local"
            name="consumed_from"
            value="{{.ConsumedFrom}}"
            autocomplete="off"
            onchange="windowQueryParameterSet(`consumed_from`,value)"
        >
    </label>
    <label>
        Дата до
        <input
            form="consumption_log-search-form"
            type="datetime-local"
            name="consumed_to"
            value="{{.ConsumedTo}}"
            autocomplete="off"
            onchange="windowQueryParameterSet(`consumed_to`,value)"
        >
    </label>
    <button
        form="consumption_log-search-form"
        class="search"
        name="do_query"
        onclick="form.submit()"
        onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()"
    >⌕</button>
    {{/*<button
        form="consumption_log-search-form" 
        class="refresh"
        name="do_refresh"
        onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()"
        >↺</button>*/}}
    <input form="consumption_log-search-form" type="hidden" name="as_subdoc" value="1">
    <input form="consumption_log-search-form" type="hidden" name="_refresh_tag" value="0">

    {{template "paginator" .}}
</div>

<table id="consumption_log-table">
    <thead>
        <th>//1//</th>
        <th></th>
    </thead>
    {{range $date := .Groups}}
    <tr>
        <td
            colspan="2"
            {{if eq 0.0 (index $.Map $date).NutrientAmountSum}}
            class="status nooutline error"
            {{end}}
        >
            {{$date}} - {{(index $.Map $date).NutrientAmountSum}} К
        </td>
    </tr>
    {{range (index $.Map $date).Values}}
    <tr {{if eq 0.0 .NutrientAmount}}class="status nooutline error"{{end}}>
        <td>
            <div>
                <pre>[id:{{.Id}}]</pre>
                <a href="/food/{{.FoodId}}" target="_blank">{{.FoodTitle}}</a>
                {{if eq 0.0 .NutrientAmount}}
                <a href="/food/{{.FoodId}}#nutrient-search" target="_blank">
                    У пищи не указаны калории! Нажми, чтобы указать!
                </a>
                {{end}}
                <div>
                    <input
                        disabled
                        type="number" 
                        inputmode="numeric"
                        value="{{.Mass}}"
                        form="consumption_log_batch_modal"
                        name="mass_{{.Id}}"
                        autocomplete="off"
                    >
                    <pre>г.{{if ne 0.0 .NutrientAmount}} = {{.NutrientAmount}} К{{end}} </pre>
                </div>
                <input
                    disabled
                    type="date" 
                    value="{{.ConsumedAt.Date}}"
                    form="consumption_log_batch_modal"
                    name="consumed_at_date_{{.Id}}"
                    autocomplete="off"
                >
                <input
                    disabled
                    type="time" 
                    value="{{.ConsumedAt.Time}}"
                    form="consumption_log_batch_modal"
                    name="consumed_at_time_{{.Id}}"
                    autocomplete="off"
                >
            </div>
        </td>
        <td data-toggleable_bubble>
            {{template "toggleable_checkbox" .}}
        </td>
    </tr>
    {{end}}
    {{end}}
</table>
{{end}}
