@use "variables/spacing";
@use "variables/color";
@use "variables/breakpoint";
// @use "variables/root";

@keyframes loaderAnimation {
  0% {background-position-x: 0%;}
  50% {background-position-x: 50%;}
  100% {background-position-x: 100%;}
}

@keyframes dots {
 // ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿ ⠿

 // ⠿ ⠁ ⠂ ⠄ ⠃ ⠅ ⠆ ⠇ ⠧ ⠷ ⠟ ⠏ ⠯

 // ⠿ ⠈ ⠨   ⠘ ⠸ ⠼ ⠾ ⠻ ⠹ ⠽

 // ⠿ ⠍ ⠭ ⠡ ⠗ ⠺

 // ⠿ ⠓ ⠚ ⠋ ⠙ ⠖ ⠲ ⠦ ⠴ ⠎ ⠌

 // ⠿ ⠛ ⠶   ⠒ ⠤ ⠑ ⠢ ⠔ ⠊ ⠕ ⠜ ⠝ ⠞

 // ⠿ ⠣ ⠥ ⠩ ⠪ ⠫ ⠬ ⠮

 // ⠿ ⠱ ⠳ ⠵

  0%   {content: "   ⠄   ";}
  9%   {content: "   ⠤   ";}
  18%  {content: "  ⠈⠦⠄  ";}
  27%  {content: "  ⠨⠧⠅  ";}
  36%  {content: "  ⠩⠯⠇  ";}
  45%  {content: " ⠈⠹⠿⠏⠁ ";}
  54%  {content: " ⠌⠽⠽⠟⠃ ";}
  63%  {content: "⠁⠎⠼⠵⠗⠇⠂";}
  72%  {content: "⠉⠆⠴⠥⠓⠆⠒";}
  81%  {content: "⠈⠄⠔⠤⠑⠂⠂";}
  90%  {content: "  ⠈⠄⠁  ";}
  100% {content: "   ⠄   ";}
}

html {
  scrollbar-color: color.$primary-c color.$primary-a;
  min-height: 200vh;
}

body {
  margin: 0;
  color: color.$secondary-e;
  background-color: color.$tertiary-a;
  display: grid;
  justify-items: center;
  gap: spacing.$sm;
  margin: spacing.$sm spacing.$sm;
  overscroll-behavior: contain;

  & * {
    max-width: 80ch;
  }

  & > * {
    width: 100%;
  }

  &:has(dialog[open]) {
    overflow: hidden
  }
}

dialog {
  overscroll-behavior: contain;
  width: auto;
  position: fixed;

  &[open] {

    &::backdrop {
        backdrop-filter: blur(5px);
        overflow: hidden;
        overscroll-behavior: contain;
    }

    display: grid;
    border: 2px dashed color.$complementary-e;
    background-color: color.$tertiary-a;
    color: color.$secondary-e;
    padding: spacing.$sm spacing.$sm;
    gap: spacing.$sm;

    button.close {
      justify-self: end;
    }
  }
}

search, output {
  display: grid;
  gap: spacing.$sm;
}

main {
  // overflow: hidden;
}

hr {
  border-bottom: 0;
  border-color: color.$primary-d;
  border-style: dashed;
  margin: spacing.$sm 0;
}

header {
  display: flex;
  gap: spacing.$xs;
  align-items: center;
  overflow: hidden;
}

nav {
  background-color: var(--c-p-a);
  border-radius: var(--s-b-r);
  margin-bottom: spacing.$sm;
  padding: spacing.$sm 0;

  summary {
    padding-left: spacing.$sm;
  }

  menu {
    display: flex;
    gap: spacing.$md;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
}

h1 {
  font-size: 1.8em;
  text-overflow: ellipsis;
  overflow: hidden;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
  align-items: center;
}

h1, h2 {
  margin: 0;
}

p {
  margin-top: spacing.$sm;
  margin-bottom: spacing.$sm;
}

a {
  color: color.$primary-d;
  text-decoration-line: grammar-error;

  &:hover {
    color: color.$primary-e;
    cursor: pointer;
    text-decoration-line: underline;
  }
}

button {
  text-decoration: none;
  // padding: spacing.$xs;
  border: 1px solid color.$primary-c;
  border-radius: var(--s-b-r);
  background-color: color.$primary-a;
  color: color.$primary-e;
  outline: none;
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: color.$primary-b;
  }

  &:disabled {
    opacity: 0.5;
    cursor: unset!important;
  }

  &.open, &.close {
    width: spacing.$lg;
    height: spacing.$lg;
  }
}

body, label, select, input, span, p, legend, button {
  font-size: 1rem;
  font-family: tahoma, verdana, sans-serif;
}

textarea {
  font-family: monospace;
}

textarea, input {
  background-color: color.$primary-a;
  border: 1px solid color.$primary-c;
  border-radius: var(--s-b-r);
}

input {
  &:disabled {
    background-color: unset;
  }

  &[type="number"],
  &[type="text"],
  &[type="search"],
  &[type="datetime-local"],
  &[type="password"] {
    min-height: 2rem;
    height: fit-content;
    padding: 0 spacing.$sm;
  }

  &[type="checkbox"],
  &[type="radio"] {
    min-width: 20px;
    min-height: 20px;
    outline: unset;

    &:hover {
      cursor: pointer;
    }
  }

  &:focus-visible {
    outline: 1px solid color.$complementary-d;
  }

  &[type="checkbox"] {
    margin: 0px;
  }
}

form {
  display: grid;
  gap: spacing.$xs;

  header {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .controls {
    margin-top: spacing.$sm;
    overflow: hidden;
    position: sticky;
    bottom: spacing.$xs;
    display: grid;
    gap: spacing.$sm;
    backdrop-filter: blur(5px);
    border-radius: var(--s-b-r);
    justify-items: center;

    button[type="submit"] {
      width: 100%;
    }

    output {
      word-wrap: anywhere;
      padding: spacing.$xs;
      border-radius: var(--s-b-r);
      color: var(--status-color-fg);
      background-color: var(--status-color-bg);
    }
  }
}

fieldset {
  border: 1px solid color.$primary-d;
  display: grid;
  gap: spacing.$xs;
  border-radius: var(--s-b-r);
}

legend {
  padding-left: spacing.$xs;
  padding-right: spacing.$xs;
  padding-bottom: 0;
  padding-top: 0;
  color: color.$primary-c;
}

pre {
  margin: 0px;
  font-size: 0.8rem;
  font-family: monospace;
  border-radius: 5px;
  background: var(--c-s-a);
  width: fit-content;
  padding: 0 spacing.$xs;
  align-content: center;
}

menu, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
    display: grid;
    gap: spacing.$md;
}

select {
  width: 100%;
  overscroll-behavior: contain;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid color.$primary-d;
}

th,
td {
  padding: spacing.$xs;
}

.status {
  --status-color-fg: inherit;
  --status-color-bg: none;
  outline: 1px solid var(--status-color-bg) !important;
  color: var(--status-color-fg) !important;
  background: var(--status-color-bg);

  &.nooutline {
    outline: unset !important;
  }
  &.success {
    --status-color-fg: #{color.$primary-e};
    --status-color-bg: #{color.$primary-b};
  }

  &.error {
    --status-color-fg: #{color.$complementary-e};
    --status-color-bg: #{color.$complementary-b};
  }

  &.warning {
    --status-color-fg: #{color.$secondary-e};
    --status-color-bg: #{color.$secondary-a};
  }
}

.search-controls {
  display: grid;
  grid-template-columns: minmax(10ch, 40ch) max-content max-content;
  gap: spacing.$xs;
}

// todo move to food?
.suggestion_list {
  flex: 1 0 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: breakpoint.$md) {
    grid-template-columns: 1fr;
  }

  li {
    display: flex;
    gap: spacing.$sm;
    overflow: hidden;
    // border-radius: var(--s-b-r);
    position: relative;

    &::before {
      content: "";
      position: absolute;
      // right: spacing.$sm;
      right: 0;
      height: 100%;
      width: 2px;
      border-right: 2px dotted var(--c-p-b);
    }

    &::after {
      content: "";
      position: absolute;
      // right: spacing.$sm;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 50%;
      border-top: 2px dotted var(--c-p-b);
    }

    > div {
      display: flex;
      gap: spacing.$xs;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;

      > span {
        overflow: hidden;
        flex: 1 0 100%;
      }
    }
  }
}

.loading {
  opacity: 0.5;
}

.paginator {
  display: flex;
  gap: spacing.$xs;
  align-items: center;
}

.query-controls {
  display: grid;
  align-items: center;
  gap: spacing.$sm;
  margin-bottom: spacing.$sm;
}

.consumption_log-table {
  overflow-x: scroll;

  // td:nth-child(1) {
  //   pre {
  //     font-size: 0.7rem;
  //     border-radius: 5px;
  //     background: var(--c-s-a);
  //     width: fit-content;
  //     padding: 0 spacing.$xs;
  //   }
  // }

  td:nth-child(2) {
    div {
      display: flex;
      gap: spacing.$xs;
    }

    input[type="number"] {
      width: 7ch;
    }
  }

}

details {
  display: grid;
  gap: spacing.$sm;

  summary {
    cursor: pointer;

    &::marker {
        color: var(--c-p-e);
    }
  }
}

#logo {
  display: flex;
  align-items: center;
  gap: spacing.$sm;
  flex-grow: 1;
  overflow: hidden;

  img {
    border-radius: var(--s-b-r);
  }
}

#actions {
  position: sticky;
  top: spacing.$sm;
  display: flex;
  justify-content: end;
  margin-bottom: spacing.$sm;
  z-index: 9;
  gap: spacing.$xs;
}

#food-get-form {
  display: grid;
  gap: spacing.$sm;
  justify-items: center;

  > div:first-child {
    max-width: fit-content;
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    gap: spacing.$xs;
  }

  ul {
    max-width: 30ch;

    a {
      width: fit-content;
    }
  }
}

#auth-form {
  display: grid;
  width: fit-content;
  grid-template-columns: auto minmax(20ch, 40ch);
  align-items: center;
  justify-content: center;
  row-gap: spacing.$sm;
  column-gap: spacing.$xs;
  border: 1px solid color.$secondary-c;
  border-radius: var(--s-b-r);
  padding: spacing.$sm;
  margin: 0 auto;

  .actions {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    gap: spacing.$sm;
  }

  output {
    color: color.$complementary-d;
  }
}

#ingredient-search {
  li {
    .mass {
      input {
        max-width: 7ch;
      }
    }
  }
}

#food-search-result {
  ul {
    margin-top: spacing.$md;
  }
}

#nutrient-search {
  ul {
    input[type="number"] {
      width: 12ch;
    }
  }
}



#consumption_log-get-form,
#food-post-form {
  position: relative;
}

#loader {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: spacing.$sm;
  z-index: 99;

  &::before {
    content: "загрузка";
    position: absolute;
    left: spacing.$sm;
    opacity: 0.2;
  }
  &::after {
    animation-name: dots;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    content: "";
  }
  display: flex;
  background: var(--c-p-b);
  align-items: center;
  justify-content: center;
  font-size: 24px;
  height: spacing.$lg;
  color: var(--c-p-a);

  // alternative loader animation below
  // background: linear-gradient(
  //   to right,
  //   color.$primary-a,
  //   color.$primary-b,
  //   color.$tertiary-f,
  //   color.$primary-b,
  //   color.$primary-a
  // );
  // background-size: 200%;
  // animation-name: loaderAnimation;
  // animation-duration: 2s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
}

#portion_items {
  input {
    max-width: 10ch;
  }
}

#notifications {
  gap: spacing.$xs;
}

#notifications-counter {
  background: var(--c-s-f);
  color: var(--c-p-a);
  border-radius: var(--s-b-r);
  padding: spacing.$xs;
  width: 2ch;
  height: 2ch;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#notifications-container {
  position: fixed;
  top: spacing.$sm;
  z-index: 999;
  display: grid;
  gap: spacing.$xs;
  backdrop-filter: blur(5px);
  justify-items: flex-end;
  width: fit-content;
  justify-self: end;
  border-radius: var(--s-b-r);

  > div {
    display: flex;
    gap: spacing.$xs;
  }

  li {
    padding: spacing.$sm;
    border-radius: var(--s-b-r);
  }
}

#body-part-tree {
  overflow-x: hidden;
  ul {
    position: relative;
    // display: flex;
    // list-style: square;
    margin-left: spacing.$md;
    // list-style-position: inside;
    gap: unset;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      background: var(--c-p-b);
      height: 100%;
      // left: calc(-#{spacing.$md} + 3px);
      left: -#{spacing.$md - 3px};
    }
  }
}

select#body-parts {
  option {
    padding: 0;
  }
  optgroup {
    // margin-left: spacing.$xs;
  }
}

#exercise-search-result {
  li {
    display: grid;

    > h2 {
      display: flex;
      justify-content: space-between;
    }

    details {
      pre {
        width: 100%;
        background: var(--c-p-a);
      }
    }
  }
}

#consumption_log-table {
  td:nth-child(2) {
    > div {
      display: grid;
      gap: spacing.$xs;

      input[type="number"] {
        width: 8ch;
      }
    }
  }
}
