<!doctype html>
<html lang="{{.Meta.Lang}}">
    <head>
        <meta charset="utf-8"  >
        <meta name="description" content="{{.Meta.Description}}" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" > -->
        <link rel="apple-touch-icon" href="/static/apple-touch-icon.png" >
        <link rel="icon" href="/static/apple-touch-icon.png" type="image/png" >
        <!-- <link rel="icon" href="/static/favicon.ico" type="image/x-icon" > -->
        <title>{{.Meta.Title}}</title>
        <link rel="manifest" href="/static/manifest.json?version={{.Version}}" >
        <link
            rel="stylesheet"
            href="/static/styles.css?version={{.Version}}"
            fetchpriority="high"
        >
        <!-- <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script> -->
        <script src="/static/main.min.js?version={{.Version}}"></script>

        {{define "head"}}
        {{end}}
        {{template "head" .}}
    </head>

    <body>
        <div id="loader"></div>
        <div id="notifications-container" style="display:none;">
            <div>
                <button
                    class="close"
                    onclick="document.getElementById('notifications-container').style.display='none'"
                ></button>
                <button
                    class="trash"
                    onclick="
                        document.getElementById('notifications-container').style.display='none';
                        document.getElementById('notifications')?.replaceChildren('');
                        c=document.getElementById('notifications-counter'),c.innerText='',c.style.display='none';
                    "
                ></button>
            </div>
            <ul id="notifications"></ul>
        </div>
        <!-- https://leanrada.com/htmz/ -->
        <iframe 
            hidden
            name="htmz"
            loading="lazy"
            onload="setTimeout(()=>htmzOnLoad(event))"
        ></iframe>
        <header>
            <div id="logo">
                <a href="/">
                    <img src="/static/apple-touch-icon.png" width="60" height="60" alt="Site Logo" >
                </a>
                <h1>{{.Meta.Title}}</h1>
            </div>
	    {{/* commandfor и command не работают на ios */}}
	    {{/*<button commandfor="user_info_modal" command="show-modal" title="User info" >*/}}
            <pre
                id="notifications-counter"
                style="display:none;"
                onclick="document.getElementById('notifications-container').style.removeProperty('display')"
            ></pre>
            <button onclick="user_info_modal.showModal()" title="User info" >
                {{if .Session.IsAuthenticated}}
                &#127773;
                {{else}}
                &#127770;
                {{end}}
            </button>
            <dialog id="user_info_modal">
                {{/*<button class="close" commandfor="user_info_modal" command="close"></button>*/}}
                <button class="close" onclick="user_info_modal.close()" title="Закрыть">&#10007;</button>
                <p>{{.Session.Username}}</p>
                <p>Сессия протухнет 
                    <time datetime="{{.Session.ExpiresStr}}" >
                        {{.Session.ExpiresStr}}
                    </time>
                 </p>
                {{if not .Session.IsAuthenticated}}
                    <a href="/authenticate">Войти</a>
                {{end}}
            </dialog>
        </header>

        <nav>
            <menu>
                <li><a href="/food">Пища</a></li>
                <li><a href="/recipe/add">Добавить рецерт</a></li>
                <li><a href="/consumption_log">Логи поедания</a></li>
                <!-- <li><a href="/test#test-target" target="htmz">test</a></li> -->
            </menu>
        </nav>

        <!-- <div id="test-target"></div> -->

        <main>
            {{template "content" .}}
        </main>
    </body>
</html>
