{{define "paginator"}}
{{ if and (ne nil .PageMax) (ne nil .Count) }}
<div class="paginator">
    <button
        {{if eq .PageCurrent 1}}
        disabled
        {{else}}
        onclick="paginateDown(event)"
        form="{{.EntityAlias}}-search-form"
        {{end}}
    >&#8678;</button>
    <input
        type="number"
        inputmode="numeric"
        name="page_number"
        min="1"
        max="{{.PageMax}}"
        value="{{.PageCurrent}}"
        autocomplete="off"
        form="{{.EntityAlias}}-search-form"
        oninput="paginate(event)"
    >
    <button
        {{if eq .PageCurrent .PageMax}}
        disabled
        {{else}}
        onclick="paginateUp(event)"
        form="{{.EntityAlias}}-search-form"
        {{end}}
    >&#8680;</button>
    <span>&nbsp;&nbsp;</span>
    <span>{{.PageCurrent}}/{{.PageMax}}</span>
    <span>&nbsp;&nbsp;</span>
    <span>{{.Count}} Шт.</span>
</div>
{{end}}
{{end}}
