{{define "toggleable_attributes"}}{{end}}
{{define "toggleable_content"}}{{end}}

{{define "toggleable_checkbox"}}
<input
    type="checkbox"

    {{/* name="ingredient" */}}
    name="{{.Toggleable_Name}}"

    {{/* value="{{.FoodId}}" */}}
    value="{{.Toggleable_Value}}"
    oninput="disableSiblings(event)"
    {{if .Toggleable_Checked}}checked{{end}}
    {{template "toggleable_attributes" .}}
    autocomplete="off"
>
{{end}}

{{define "toggleable"}}
{{template "toggleable_checkbox" . }}
{{template "toggleable_content" . }}
{{end}}
