// max-width
$sm: 480px; // somthing less then this is a mobile
$md: 768px; // somthing less then this is a tablet
$lg: 1280px; // somthing less then this is a small desktop. larger then this is a normal desktop
