{{define "toggleable_attributes"}}
form="exercise_log_batch_modal"
{{end}}

{{define "toggleable"}}
<tr>
    <td>
        <div>
            <a href="/exercise/{{.Exercise.Id}}" target="_blank">{{.Exercise.Title}}</a>
            <div class="type-id">
                <pre>{{.Type.Alias}}</pre>
                <span>→</span>
                <select
                    name="type_id_{{.Id}}"
                    form="exercise_log_batch_modal"
                    selected="{{.Type.Id}}"
                    disabled
                    autocomplete="off"
                ></select>
            </div>
            <div>
                <input
                    disabled
                    type="number" 
                    inputmode="numeric"
                    value="{{.Value}}"
                    form="exercise_log_batch_modal"
                    name="value_{{.Id}}"
                    autocomplete="off"
                >
                <span>{{.Type.Unit}}</span>
            </div>
            <div>
                <input
                    disabled
                    type="date"
                    value="{{.CreatedAt.Date}}"
                    form="exercise_log_batch_modal"
                    name="created_at_date_{{.Id}}"
                    autocomplete="off"
                >
                <input
                    disabled
                    type="time"
                    value="{{.CreatedAt.Time}}"
                    form="exercise_log_batch_modal"
                    name="created_at_time_{{.Id}}"
                    autocomplete="off"
                >
            </div>
        </div>
    </td>
    <td data-toggleable_bubble>{{template "toggleable_checkbox" .}}</td>
</tr>
{{end}}

{{define "search_form_attributes"}}
onchange="this.elements.do_query.disabled=false"
{{end}}

{{define "exercise_log_get_form"}}
<h1 hidden></h1>{{/* TODO remove kostyl */}}
{{template "search_form_v2" .}}
<div id="exercise_log-query-controls">
    <div class="query-controls">
        <label>
            Дата от
            <input
                type="datetime-local"
                name="from"
                value="{{.From}}"
                autocomplete="off"
                form="exercise_log-search-form"
                onchange="windowQueryParameterSet(`from`,value)"
            >
        </label>
        <label>
            Дата до
            <input
                type="datetime-local"
                name="to"
                value="{{.To}}"
                autocomplete="off"
                form="exercise_log-search-form"
                onchange="windowQueryParameterSet(`to`,value)"
            >
        </label>
        <button
            name="do_query"
            form="exercise_log-search-form"
            onclick="form.submit()"
            onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()"
        >⌕</button>
        <!-- <button -->
        <!--     name="do_refresh" -->
        <!--     onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()" -->
        <!-- >↺</button> -->
        <input type="hidden" name="as_subdoc" form="exercise_log-search-form" value="1" >
        <input type="hidden" name="_refresh_tag" form="exercise_log-search-form" value="0">

        {{template "paginator" .}}
        {{template "affect_query" .}}
    </div>
</div>

<table
    id="exercise_log-table"
    onclick="
    if (event.target.name && event.target.name.includes('type_id') && event.target.options.length <= 1) {
        const options = [{{range .Types}}['{{.Id}}','{{.Alias}}'],{{end}}];
        for (let i = 0; i < options.length; i++) {
            const opt = document.createElement('option');
            opt.value = options[i][0];
            opt.innerText = options[i][1];
            event.target.prepend(opt);
        }
    }
    "
>
    <thead>
        <th>- // -</th>
        <th></th>
    </thead>
    {{range $date := .Groups}}
    <tr class="exercise-date">
        <td colspan="2">{{$date}}</td>
    </tr>
    {{range (index $.Map $date).Values}}{{template "toggleable" .}}{{end}}
    {{end}}
</table>
{{end}}

