{{define "toggleable_attributes"}}
form="exercise_log_batch_modal"
{{end}}

{{define "toggleable"}}
<tr>
    <td>
        <div>
            <a href="/exercise/{{.Exercise.Id}}" target="_blank">{{.Exercise.Title}}</a>
            <div>{{.Type.Alias}} </div>
            <input
                disabled
                type="number" 
                inputmode="numeric"
                value="{{.Value}}"
                form="exercise_log_batch_modal"
                name="value_{{.Id}}"
                autocomplete="off"
            >
            <input
                disabled
                type="date"
                value="{{.CreatedAt.Date}}"
                form="exercise_log_batch_modal"
                name="created_at_date_{{.Id}}"
                autocomplete="off"
            >
            <input
                disabled
                type="time"
                value="{{.CreatedAt.Time}}"
                form="exercise_log_batch_modal"
                name="created_at_time_{{.Id}}"
                autocomplete="off"
            >
        </div>
    </td>
    <td data-toggleable_bubble>{{template "toggleable_checkbox" .}}</td>
</tr>
{{end}}

{{define "exercise_log_get_form"}}
<h1 hidden></h1>{{/* TODO remove kostyl */}}
<form
    id="exercise_log-get-form"
    action="/exercise_log"
    method="get"
    target="htmz"
    onsubmit="searchOnSubmit(event)"
    onchange="this.elements.do_query.disabled=false"
>
    <div class="query-controls">
        <label>
            Дата от
            <input
                type="datetime-local"
                name="from"
                value="{{.From}}"
                autocomplete="off"
                onchange="windowQueryParameterSet(`from`,value)"
            >
        </label>
        <label>
            Дата до
            <input
                type="datetime-local"
                name="to"
                value="{{.To}}"
                autocomplete="off"
                onchange="windowQueryParameterSet(`to`,value)"
            >
        </label>
        <button
            name="do_query"
            onclick="form.submit()"
            onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()"
        >⌕</button>
        <!-- <button -->
        <!--     name="do_refresh" -->
        <!--     onclick="form._refresh_tag.value=(new Date()).getTime();form.submit()" -->
        <!-- >↺</button> -->
        <input type="hidden" name="as_subdoc" value="1">
        <input type="hidden" name="_refresh_tag" value="0">

        {{template "paginator" .}}
    </div>

    <table id="exercise_log-table">
        <thead>
            <th>- // -</th>
            <th></th>
        </thead>
        {{range $date := .Groups}}
        <tr>
            <td colspan="2">{{$date}}</td>
        </tr>
        {{range (index $.Map $date).Values}}{{template "toggleable" .}}{{end}}
        {{end}}
    </table>
</form>
{{end}}

