{{define "consumption_log_post_form"}}
{{template "search_form" .DummyFoodList}}
<input type="hidden" name="as_radio" value="1" form="food-search-form" >
<input type="hidden" name="limit" value="5" form="food-search-form" >
<form 
    id="consumption_log-post-form"
    method="post"
    action="/consumption_log#consumption_log-post-result"
    target="htmz"
    onsubmit="searchOnSubmit(event)"
>
    <fieldset>
        <legend>Инфа</legend>
        <label>
            Вес, г.
            <input
                name="mass"
                type="number"
                inputmode="numeric"
                min="1"
                value="{{.PostForm.Mass}}"
                required
            >
        </label>
        <div>
            <span>Когда?</span>
            <input
                name="consumed_at_date"
                type="date"
                value="{{.PostForm.ConsumedAt.Date}}"
                required
                autocomplete="off"
            >
            <input
                name="consumed_at_time"
                type="time"
                value="{{.PostForm.ConsumedAt.Time}}"
                required
                autocomplete="off"
            >
            <button
                onclick="
                const now=new Date();
                this.form.consumed_at_date.value = `${now.getFullYear()}-${String(now.getMonth()).padStart(2, '0')}-${String(now.getDate()).padStart(2, '0')}`;
                this.form.consumed_at_time.value = `${String(now.getHours()).padStart(2, '0')}:${String(now.getMinutes()).padStart(2, '0')}:00`;
                "
                type="button"
            >NOW</button>
        </div>
    </fieldset>

    <fieldset id="food-suggestor">
        <legend>Пища</legend>
        {{template "search" .DummyFoodList}}
        {{/*
        <search>
            <button
                formaction="/food#food-suggestor-result"
                formmethod="get"
                formtarget="htmz"
                formnovalidate=""
            >&#8981;</button>
            {{template "food_suggestion_list" .}}
        </search>
        */}}
    </fieldset>

    <input type="hidden" name="id" value="{{.PostForm.Id}}" >
    <input type="hidden" name="csrf-token" value="{{.Session.CsrfToken}}" >

    <div class="controls" >
        {{template "consumption_log_post_result" .}}
        <button type="submit">Сохранить</button>
    </div>
</form>
{{end}}
